<!DOCTYPE html>
<html lang="en">
<head>
{{>headlinks}}
</head>
<body>
{{>navbar}}
    

<div class="container-fluid main-header ">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto align-items-center">
            <div class="row">
                <div class="col-md-6 col-12 main-header-right ">
                   
                    <figure>
                        <img src="images/about1.png" alt="not found" class='img-fluid' title='shivam'>
                    </figure>

                </div>
                 <div class="col-md-6 col-12 main-header-left">
                     <h1>One Step More towards <span class="text-clr">  Goal </span> of my life</h1>
                     <p>SHIVAM BHARDWAJ</p>
                   
                 </div>
                 
            </div>
            
        </div>
    </div>
</div>
{{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>